<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorSounds</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="basicplayer">
                <span class="oi oi-audio-spectrum" aria-hidden="true"></span> Basic Player
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dualplayer">
                <span class="oi oi-media-skip-forward" aria-hidden="true"></span> Dual Player
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="betterplayer">
                <span class="oi oi-bolt" aria-hidden="true"></span> Better Player
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="howler">
                <span class="oi oi-headphones" aria-hidden="true"></span> Howler
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="timer">
                <span class="oi oi-clock" aria-hidden="true"></span> Timer
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
