@page "/audioplayerbasic"

<h3>AudioPlayerBasic</h3>
<hr />
<BasicAudioPlayer ImageSource="../images/smallsunset.jpg" Artist="Be Blazor" AudioSource="../sounds/slowmotion.mp3" Title="Burning Up" Subtitle="The #1 Hit from this amazing band." />
@code {

}
