@page "/audioplayerenhanced"
<h3>AudioPlayerEnhanced</h3>

<StandardAudioPlayer ArtistName="Bla Bla Blazor" AudioTitle="Don't Stop the Blaze" AudioElementId="1" AudioSource="../sounds/dubstep.mp3"></StandardAudioPlayer>
<hr/>
<StandardAudioPlayer ArtistName="Bla Bla Blazor" AudioTitle="The Fire" AudioElementId="2" AudioSource="../sounds/slowmotion.mp3"></StandardAudioPlayer>
@code {

}
