@page "/"

<div class="row">
    <div class="col-sm-6">
        <div class="card text-center border-dark mb-2">
            <div class="card-header">
                Latest
                <BSBadge Color="Color.Secondary">New</BSBadge>
            </div>
            <div class="card-body text-white "
                 style="background-image:url('../images/np_image1.jpg');">
                <h5 class="card-title">Listen to the latest content</h5>
                <p class="card-text">Don't miss a minute...</p>
                <a href="#" class="btn btn-primary">Listen</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Updated: 2 days ago</small> 
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card text-center border-dark mb-2">
            <div class="card-header">
                Your Favorites
            </div>
            <div class="card-body text-white" style="background-image:url('../images/np_image2.jpg');">
                <h5 class="card-title">Your favorites</h5>
                <p class="card-text">A playlist curated by you.</p>
                <a href="#" class="btn btn-primary">Listen</a>
            </div>
            <div class="card-footer ">
                <small class="text-muted">Updated: 2 days ago</small>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card text-center border-dark mb-2">
            <div class="card-header">
                Category One
            </div>
            <div class="card-body text-white" style="background-image:url('../images/np_image3.jpg'); ">
                <h5 class="card-title">Category One</h5>
                <p class="card-text">All the best of category one.</p>
                <a href="#" class="btn btn-primary">Listen</a>
            </div>
            <div class="card-footer ">
                <small class="text-muted">Updated: 2 days ago</small>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-center border-dark mb-2">
            <div class="card-header">
                Category Two
            </div>
            <div class="card-body text-white" style="background-image:url('../images/np_image4.jpg'); ">
                <h5 class="card-title ">Category Two</h5>
                <p class="card-text">All the best of category two.</p>
                <a href="#" class="btn btn-primary">Listen</a>
            </div>
            <div class="card-footer ">
                <small class="text-muted">Updated: 2 days ago</small>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card text-center border-dark mb-2">
            <div class="card-header">
                Category Three
                <BSBadge Color="Color.Secondary">New</BSBadge>
            </div>
            <div class="card-body text-white" style="background-image:url('../images/np_image5.jpg'); ">
                <h5 class="card-title">Category Three</h5>
                <p class="card-text">All the best of category three.</p>
                <button type="button" class="btn btn-dark">View Content
                    <span class="oi oi-audio-spectrum pl-2" title="" aria-hidden="true"></span>
                </button>
            </div>
            <div class="card-footer ">
                <small class="text-muted">Updated: 2 days ago</small>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-center border-dark mb-2">
            <div class="card-header">
                Category Four
            </div>
            <div class="card-body text-white" style="background-image:url('../images/np_image6.jpg'); ">
                <h5 class="card-title ">Category Four</h5>
                <p class="card-text">All the best of category four.</p>
                <a href="#" class="btn btn-primary">Listen</a>
            </div>
            <div class="card-footer ">
                <small class="text-muted">Updated: 2 days ago</small>
            </div>
        </div>
    </div>
</div>
