@page "/"
@using BlazorSounds.Components


@for (int r = 0; r < rowCount; r++)
{
    <div class="row">
        @if (isOdd == true) // Handle odd number of categories or whatever pairs of elements are being displayed.
        {
            @while (rowCount > 1)
            {
                @for (int i = 0; i < 2; i++)
                {
                    <div class="col-sm-6">
                        <Card CategoryDescription="Descriptions are nice..." CategoryName=@category[incrementValue].ToString() />
                    </div>
                    incrementValue++;
                }
                rowCount--;
            }

            @for (int i = 0; i < 1; i++)
            {
                <div class="col-sm-6">
                    <Card CategoryDescription="Descriptions are nice..." CategoryName=@category[incrementValue].ToString() />
                </div>
                incrementValue++;
            }

        }
        else // Handle even number of categories or whatever pair of elements are being displayed
        {

            @for (int i = 0; i < 2; i++)
            {
                <div class="col-sm-6">
                    <Card CategoryDescription="Descriptions are nice..." CategoryName=@category[incrementValue].ToString() />
                </div>
                incrementValue++;
            }

        }

    </div>
}

@code
{

    public int rowCount;
    public bool isOdd;
    public int incrementValue = 0;
    public int[] category = { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 };

    protected override void OnInitialized()
    {

        // GET some data about categories
        // We will use the category array for now -- JSON

        CreateCategoryCards(category);
    }

    private void CreateCategoryCards(int[] data)
    {
        if (data.Length % 2 == 0)
        {
            rowCount = data.Length / 2;
            isOdd = false;
        }
        else
        {
            rowCount = data.Length / 2 + 1;
            isOdd = true;
        }
    }
}
